<table>
	<tr><td>Diag</td><td>tranch1</td><td>tranch1</td><td>tranch1</td><td>tranch1</td><td>tranch1</td><td>tranch1</td></tr>
<% @find_diags.each do |h| %> 
  <tr>
  <td><%=   Diagnostic.find(h[0]).description %></td>
     <% (0..5).each do |n| %>
<td><%= h[1][n] %></td>
<% end %>
</tr>
<% end %>
</table>