<h1> Encontrar estadísticas entre dos fechas (ambas incluídas)</h1>
<div id="query">
	<form accept-charset="UTF-8" action="/consul_diags/find_offi" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="WKk9hWoSelhp8hPFPxLg4thPBAY4plduSiA1a52eFno="></div>
	  <b>Fecha inicial:</b> <select id="consul_diag_fecha_ini_3i" name="consul_diag[fecha_ini(3i)]">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option selected="selected" value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
	</select>
	<select id="consul_diag_fecha_ini_2i" name="consul_diag[fecha_ini(2i)]">
	<option value="1">janvier</option>
	<option value="2">février</option>
	<option value="3">mars</option>
	<option value="4">avril</option>
	<option value="5">mai</option>
	<option value="6">juin</option>
	<option value="7">juillet</option>
	<option value="8">août</option>
	<option selected="selected" value="9">septembre</option>
	<option value="10">octobre</option>
	<option value="11">novembre</option>
	<option value="12">décembre</option>
	</select>
	<select id="consul_diag_fecha_ini_1i" name="consul_diag[fecha_ini(1i)]">
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
	<option value="2010">2010</option>
	<option value="2011">2011</option>
	<option selected="selected" value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>
	<option value="2015">2015</option>
	<option value="2016">2016</option>
	<option value="2017">2017</option>
	</select>
	<br>
	  <b>Fecha final:</b><select id="consul_diag_fecha_fin_3i" name="consul_diag[fecha_fin(3i)]">
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option selected="selected" value="5">5</option>
	<option value="6">6</option>
	<option value="7">7</option>
	<option value="8">8</option>
	<option value="9">9</option>
	<option value="10">10</option>
	<option value="11">11</option>
	<option value="12">12</option>
	<option value="13">13</option>
	<option value="14">14</option>
	<option value="15">15</option>
	<option value="16">16</option>
	<option value="17">17</option>
	<option value="18">18</option>
	<option value="19">19</option>
	<option value="20">20</option>
	<option value="21">21</option>
	<option value="22">22</option>
	<option value="23">23</option>
	<option value="24">24</option>
	<option value="25">25</option>
	<option value="26">26</option>
	<option value="27">27</option>
	<option value="28">28</option>
	<option value="29">29</option>
	<option value="30">30</option>
	<option value="31">31</option>
	</select>
	<select id="consul_diag_fecha_fin_2i" name="consul_diag[fecha_fin(2i)]">
	<option value="1">janvier</option>
	<option value="2">février</option>
	<option value="3">mars</option>
	<option value="4">avril</option>
	<option value="5">mai</option>
	<option value="6">juin</option>
	<option value="7">juillet</option>
	<option value="8">août</option>
	<option selected="selected" value="9">septembre</option>
	<option value="10">octobre</option>
	<option value="11">novembre</option>
	<option value="12">décembre</option>
	</select>
	<select id="consul_diag_fecha_fin_1i" name="consul_diag[fecha_fin(1i)]">
	<option value="2007">2007</option>
	<option value="2008">2008</option>
	<option value="2009">2009</option>
	<option value="2010">2010</option>
	<option value="2011">2011</option>
	<option selected="selected" value="2012">2012</option>
	<option value="2013">2013</option>
	<option value="2014">2014</option>
	<option value="2015">2015</option>
	<option value="2016">2016</option>
	<option value="2017">2017</option>
	</select>

	  <p><input name="commit" type="submit" value="Enviar"></p>
	</form>

</div>
