<table>
	<tr><td>Diag</td><td>0-11 mois</td><td>1-4 ans</td><td>5-9 ans</td><td>10-14 ans</td><td>15-25 ans</td><td>25 ans +</td></tr>
<% @find_diags.each do |h| %> 
  <tr>
  <td><%=   Diagnostic.find(h[0]).description %></td>
     <% (0..5).each do |n| %>
<td><%= h[1][n] %></td>
<% end %>
</tr>
<% end %>
</table>