<% title "Ethnie" %>

<p>
  <strong>Nom:</strong>
  <%= @ethnie.nom %>
</p>

<p>
  <%= link_to "Edit", edit_ethny_path(@ethnie) %> |
  <%= link_to "Destroy", @ethnie, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", ethnies_path %>
</p>
