<div class="consul_trat">
  <p>Traitement:
	<%=  f.collection_select(:traitement_id, Traitement.order("description"),:id,:description ) %>
    <%= link_to_function "remove", "$(this).up('.consul_trat').remove()" %>
  </p>
</div>