<div class="consul_diag">
	<% new_or_existing = consul_diag.new_record? ? 'new' : 'existing' %> 
	<% prefix = "consultation[#{new_or_existing}_consul_diag_attributes][]" %>
	<% fields_for prefix, consul_diag do |consul_diag_form| -%>
	<p>
	Consul_diag: <%= consul_diag_form.text_field :diagnostic_id %>
	<%= link_to_function "remove", "$(this).up('.consul_diag').remove()" %>
	</p>
	<% end -%>
	</div>