<p id="notice"><%= notice %></p>

<p>
  <b>Official desc:</b>
  <%= @diag_official.official_desc %>
</p>


<%= link_to 'Edit', edit_diag_official_path(@diag_official) %> |
<%= link_to 'Back', diag_officials_path %>
