	<h2>Registre de Patients</h2>
	<ul id="home">
	  <% if current_user %>
	    <li> <a href="/consul_diags/find">Statistiques</a></li>
	    <li> <a href="/consul_diags/find_offi">Statistiques oficielles</a></li>
		<% if current_user && (current_user.role == 'sanitaire' || 
                               current_user.role == 'admin' || 
                               current_user.role == 'local_admin' || 
							   current_user.role == 'chercheur') %>			
		  <li><a href="/patients">Liste generale de patients</a></li>
	      <% if current_user && (current_user.role == 'sanitaire' ||
		                         current_user.role == 'local_admin' || 
							     current_user.role == 'admin') %>			
		    <li><a href="/patients/new">Nouveau patient</a></li>
		    <li>  <%=	form_tag(search_path  :method => 'get') do %>
		            <%= label_tag(:q, "Cherchez un patient par le code:") %>
		            <%= search_field_tag(:q, value = nil, options = {:size => '6'})  %>
		            <%= submit_tag("Cherchez") %>
		          <% end %> </li>
		    <% if current_user.role == 'admin' || 
                  current_user.role == 'local_admin'%>
		      <h3>Administration</h3>
		      <li><a href="/users/new">Nouveau utilisateur</li>
			  <li><a href="/communes">Communes</a></li>
		      <li><a href="/ethnies">Ethnies</a></li>
		      <li><a href="/professions">Professions</a></li>
		      <li><a href="/villages">Villages</a></li>
			  <% if current_user.role == 'admin' %>			
		        <li><a href="/diagnostics">Diagnostics</a></li>
		        <li><a href="/traitements">Traitements</a></li>
		      <% end %>
		    <% end %>
          <% end %>
        <% end %>
	  <% else %>
		Vous avez besoin de faire log-in pour entrer dans la aplication
      <% end %>
    </ul>
		
		
